p {
    color:aqua;
}
body{
    margin: 0px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 196, 131);
}

code {
    display:block;
    text-align: left;
}

.tittel_h1 {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    color: #000000;
    border-color:#ebde7b71;
    background-color: #77a2ff;
    font-family: initial;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(53, 53, 53);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: initial;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center ;
    font-family: initial;
}

.navbar a:hover{
    background-color: rgb(74, 74, 74);
}

.navbar li{
    float: left;
}