body {
    background-color:gray;
    margin: 0px;
    padding: 20px;
}


h1 {
    color:brown;
    font-family:Arial, Helvetica, sans-serif
}

p {
    color:aqua;
    font-family:Arial, Helvetica, sans-serif;
    font-style:oblique
}

.bilde {
    margin:20px auto;
    border-radius:10px;
    display:block;
}

code {
  display:block;
  text-align: left;
}

.tittel_h1 {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    color: #ffffff;
    border-color:#d1d1d171;
    background-color: rgb(162, 162, 162);
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(53, 53, 53);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center ;
}

.navbar a:hover{
background-color: rgb(74, 74, 74);
}

.navbar li{
    float: left;
}