body{
    background-color: beige;
    margin: 0px;
    padding: 20px;
}

h1{
    text-decoration: overline underline;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    color: red;
    text-shadow: 2px 2px 5px red ; 
    border-color:rgb(159, 1, 1);
    background-color: #4d0303; 
}
code {
  display:block;
  text-align: left;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(53, 53, 53);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center ;
}

.navbar a:hover{
background-color: rgb(74, 74, 74);
}

.navbar li{
    float: left;
}

p{
    font-family: sans-serif;
    margin: 0px;
    
    

}



